* {
	font-family: 'Arial';
	color: #414141;
}

body {
	background-color: #E5E5E5;
}

#main {
	width: 800px;
	margin: 100px auto;
	text-align: center;
}

h1 {
	font-size: 42px;
}

#footer {
  margin: 100px 0;
}
